.header{
   border-radius: 20px;
    border: 2px solid white;
    height: 100vh;
    background-image: linear-gradient(pink,aqua,pink);
  margin-left: 20px;
  margin-right: 20px;
    width: 97%;
}
.ul{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
list-style:none;


}
.li{
    text-decoration: none;
    font-size: large;
}
.ul :hover{color:teal;
font-size:40px;


}

.ss{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    display:grid;
    grid-template-columns: 2;
    gap: 4px;
}

.beuty{
    padding:30px;
    margin-bottom:100px;
    margin-left: 30px;
    width: 300px;
    font-size: larger;
    text-align: center;
    align-items: center;
    background-color:rgb(233, 132, 233);
    border-radius: 50px;
    font-family: italy;
    
}

.beuty:hover{

    transform: scale(1.1);
    font-size: 40px;
    box-shadow: 0px 0px 10px blueviolet;
    color:teal;
}

.simple{
    background-color:white;
    padding:20px;
  justify-content:flex-end;
    width: 100px;
    font-size: larger;
    text-align: center;
    border-radius: 50px;
    font-family: italy;


}

.simple:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px blueviolet;
    font-size: 40px;
    color: blueviolet;
}

.imggg{
    
border: 50px;
width:auto;
height: 50vh;
border-radius: 50%;

margin-right:100px;

}

.imggg:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px blueviolet;
}
.facee{
     padding:30px;
    margin-bottom:100px;
    border: 50px;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    
}
.facee:hover{
    transform: scale(1.3);

        box-shadow: 0px 10px 20px blueviolet;
        
    padding: 5px;
}



